.input-number:read-only:not(:disabled) {
  background-color: inherit;
}

.input-number.form-control.disabled {
  color: #999C9E;
  background-color: #F3F3F4;
  box-shadow: 0 0px 0px;
}
.input-number {
  text-align: right;
}