@import '../../styles/config.scss';

.ingreso-bg_container{
    background-image: url(../../assets/images/principal_bg.jpg);
    color: $color-font-primary;
}

.login-container > .ingreso_container {
    position: absolute;
    top: 20%;
    left: calc(50% - 300px);
    width: 600px;
    border-radius: 5px;
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFFFFF;
    border: 1px solid $color-li-neutro;
    padding: 15px;
    text-align: center;
}

.ingreso-icon{
    height: 100px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
.ingreso-text {
    color: $color-font-text;
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.mb-3 > a {
    color: $color-font-text;
    text-decoration: none;
}