@import '../../../styles/config';

.tip {
    &-button {
        cursor: pointer;
    }
    &-wrapper {
        position: relative;
        .material-symbols-outlined:hover {
            font-variation-settings: 'wght' 400;
            cursor: pointer;
        }
    }
    &-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    &-container {
        position: absolute;
        width: 47vw;
        min-width: 500px;
        max-width: 700px;
        background: $color-background;
        border: 2px solid $color-filter;
        color: $color-font-primary;
        right: 50%;
        z-index: 2;
        &-compact {
            min-width: 420px;
            width: 30vw;
            max-width: 500px;
        }
        &::before, &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            transform: rotate(0deg);
        }
        &-top {
            bottom: 60px;
            border-radius: 18px 18px 0 18px;
            &::before {
                bottom: -25px;
                right: -2px;
                border-width: 0 25px 25px 0;
                border-color: transparent $color-filter transparent transparent;
            }
            &::after {
                bottom: -19px;
                right: 0;
                border-width: 0 20px 20px 0;
                border-color: transparent $color-background transparent transparent;
            }
        }
        &-bottom {
            top: 50px;
            border-radius: 18px 0 18px 18px;
            &::before {
                top: -25px;
                right: -2px;
                border-width: 25px 25px 0 0;
                border-color: transparent $color-filter transparent transparent;
            }
            &::after {
                top: -19px;
                right: 0;
                border-width: 20px 20px 0 0;
                border-color: transparent $color-background transparent transparent;
            }
        }
    }
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-neutro-icons;
        padding: 10px 10px 10px 18px;
        font-size: 12px;
    }
    &-title {
        font-weight: bold;
    }
    &-link {
        color: $color-font-primary;
        font-size: 12px;
        text-decoration: none;
        &:hover {
            color: $color-font-text;
            cursor: pointer;
        }
    }
    &-close {
        cursor: pointer;
        padding: 4px;
        font-size: 33px;
        position: absolute;
        right: 10px;
    }
    &-body {
        font-size: 14px;
        line-height: 1.4;
        min-height: 130px;
        max-height: 30vh;
        padding: 10px 18px;
        overflow: auto;
        ul {
            padding-left: 0;
            list-style: none;
            li {
                position: relative;
                padding-left: 12px;
                margin-bottom: 5px;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    height: 5px;
                    width: 5px;
                    border-radius: 50%;
                    top: 7px;
                    font-size: 1.2em;
                    background-color: $color-neutro;
                }
            }
        }
    }
}
