services:
  postgres:
    image: postgres:16.1-alpine
    container_name: laramie-db
    restart: always
    ports:
      - 5432:5432
    volumes:
      - ./generated/db-data:/var/lib/postgresql/data
      - ./generated/db-backups:/mnt
      - ./scripts:/var/lib/postgresql/scripts
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}

networks:
  default:
    driver: bridge
