@import '../../styles/config.scss';

.contribuyente{
    background-color: $color-disabled;
    font-size: 14px;
}

.contribuyente button.nav-link.active {
    background-color: initial;
    border-color: #dee2e6 #dee2e6 #F3F3F4;
}
