
// Colors

$color-primary: #7E0C29;
$color-error: #CD1342;
$color-warning: #F8C04C;
$color-success: #24C9A7;
$color-action: #1C84C6;
$color-disabled: #F3F3F4;

//Neutros
$color-li-neutro: #E2E2E2;
$color-neutro: #B3B4B6;
$color-bg-block: #676a6c6d;


// Tipography and icon
$color-font-primary: #999C9E;
$color-font-text: #676A6C;


