USE MAJOR_CAMPANA
GO

CREATE OR ALTER FUNCTION [dbo].[GET_FECHA]
(
	@fechaIn datetime
)
RETURNS datetime
AS
BEGIN
	declare @fecha datetime

	 set @fecha = case	when @fechaIn IS NULL or year(@fechaIn)=1900 or year(@fechaIn)=2100 then NULL
						else @fechaIn end

	RETURN @fecha
END
