@import './config.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/*estilos login*/
.bg-img{
    position: relative !important;
    min-width: 500px;
    width: 100%;
    height: 100vh;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.bg-img-header {
    height: calc(100vh - 63px);
}

.login-container > .lg-c{
    position: absolute;
    top: 20%;
    left: calc(50% - 150px);
    width: 300px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;

    background-color: #FFFFFF;
    border: 1px solid #E2E2E2;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #999C9E;
}

.lg-c > .logo-login{
    margin: 10px 10px 20px 10px !important;
    height: 50px;
}

/*estilos header*/
.navbar{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: #FFFFFF;
    padding-top: 0 !important;
}

.navbar-routes {
    width: 100%;
}

.navlogo {
    height: 40px;
    margin: 0px 50px 0px 5px;
}

 .nav-link {
    color: $color-font-primary;
}


.nav-link:hover {
    color: $color-font-text;
}
.nav-link:focus {
    color: $color-font-text;
}
.nav-link.active, .navbar-nav .show>.nav-link {
    color: $color-font-text;
    font-weight: 600;
}

.login-nav{
    justify-content: flex-end;
}

.nav-link-login {
    color: $color-font-primary;
    padding-left: 0.5rem
}

.nav-link-login:hover {
    color: $color-font-primary;
}

/*estilos body*/
body {
    background-color: #F3F3F4;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: $color-font-text;
}

/*estilos sub-cabecera*/

.section-heading {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.text-heading-selecction {
    color: $color-font-text;
    font-weight: 600;
}

.hr-heading{
    color: $color-neutro;
}
.heading-subtitle {
    display: flex;
    align-items: center;
    margin-left: 15px !important;
}
.heading-subtitle > i {
    color: $color-primary;
    margin-bottom: .5rem;
    margin-right: 13px;
}

.heading-modulo {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 15px !important;
}
.navbar-brand {
    color: $color-font-primary;
    font-size: 14px;
    font-weight: 600;
    margin-right: 0px;
}
.navbar-brand:hover {
    color: $color-font-text;
}


/*estilos seccion acordeon*/

.section-accordion {
    background-color: #FFFFFF;
    border: 1px solid $color-li-neutro;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 100px;
    color: $color-font-primary;
}
.accordion-header {
    border-style: solid;
    border-width: 1px;
    border-color: $color-li-neutro;
    width: 100%;
    height: 40px;
    cursor: pointer;
}
.accordion-header-title {
    display: flex;
    align-items: center;
    height: 40px;
}
.accordion-header-title > i {
    font-size: 18px;
    font-weight: 600;
    color: $color-font-primary;
    padding-left: 20px;
    padding-right: 5px;
}
.accordion-header-title > h3 {
    cursor: pointer;
}
.accordion-header-title > h3.active {
    font-weight: 600;
}
.accordion-body {
    border-style: solid;
    border-width: 1px;
    border-top-width: 0px;
    border-color: $color-li-neutro;
    width: 100%;
}
.accordion-body {
    padding: 1rem 1.25rem;
}
.accordion-hide {
    height: 0px;
    padding: 0 0 0 0;
    contain: content;
}


/*estilos de formularios*/

.form-basic > div {
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-basic > div.form-check {
    // margin-left: 12px;
    padding-top: 28px;
}
div.form-check {
    padding-left: 33px;
}
.form-sub-component {
    text-indent: 0px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 5px;
    padding-bottom: 30px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: $color-li-neutro;
}
.form-sub-component .form-label, .form-sub-component .form-check-label {
    font-size: 15px;
    color: #999C9E;
}


/*estilos de solapas*/

.nav-tabs > .nav-item button,
.nav-tabs > .nav-item button:hover {
    font-size: 16px;
    color: $color-font-primary;
}
.nav-tabs > .nav-item button.active {
    font-size: 16px;
    font-weight: 600;
    color: $color-font-primary !important;
}
.tab-content .tab-panel {
    padding: 1rem 1.25rem;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0px;
    border-color: $color-li-neutro;
    width: 100%;
}


/*estilos generales*/
.label-error {
    color: $color-error;
    opacity: unset;
}

.label-subtitle {
    font-size: 18px;
}

hr{
    color: $color-li-neutro;
    opacity: unset;
    border: none;
    margin:0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: $color-font-primary;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: $color-font-primary;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.space {
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/*estilos para botones*/

.back-button {
    color: $color-neutro;
    border-color: $color-neutro;
}

.back-button:hover {
    background-color: $color-neutro;
    color: #FFFFFF;
}

.back-button:focus {
    background-color: $color-neutro;
    color: #FFFFFF;
}

.action-button {
    color: $color-action;
    border-color: $color-action;
    margin-left: 50px;
    padding: 0.3rem 1.75rem;
}

.action-button:hover, .action-button:focus{
    background-color: $color-action;
    color: #FFFFFF;
}

.btn {
    box-shadow: none !important;
}

.btn-primary {
    color: #FFFFFF;
    background-color: $color-success;
    border-color: $color-success;
    padding: 0.375rem 1.75rem;
}

.btn-primary:hover, .btn-primary:focus{
    color: $color-success;
    border-color: $color-success;
    background-color: #FFFFFF;
}

.btn-outline-primary{
    color: $color-success;
    border-color: $color-success;
    background-color: #FFFFFF;
    padding: 0.375rem 1.75rem;
}

.btn-outline-primary:hover, .btn-outline-primary:focus{
    color: #FFFFFF;
    background-color: $color-success;
    border-color: $color-success;
}

.btn-main {
    color: #FFFFFF;
    background-color: $color-primary;
    border-color: $color-primary;
    padding: 0.375rem 1.75rem;
}

.btn-main:hover {
    color: $color-primary;
    background-color: #ffffff;
    border-color: $color-primary;
    padding: 0.375rem 1.75rem;
}

.btn-disabled {
    color: $color-li-neutro !important;
    background-color: #ffffff !important;
    border-color: $color-li-neutro !important;
}

.invisible {
    display: none;
}

.decline-button {
    color: $color-error;
    border-color: $color-error;
}

.decline-button:hover, .decline-button:focus {
    background-color: $color-error;
    color: #FFFFFF;
}


/*estilos para links*/
a.nav-link, div.nav-link {
    cursor: pointer;
}
.link {
    cursor: pointer;
    color: $color-font-primary;
}
.link:hover{
    color: $color-font-text;
}

.link i {
    text-indent: 0px !important;
}

.icon-cruz{
    padding: 4px;
    position: absolute;
    top:50%;
    right:2px;
    transform: translateY(-50%);
    cursor: pointer;
  }



/*estilos de loading*/
.loading {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $color-bg-block;
    position: fixed;
    z-index: 9990;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading img {
    width: 80px;
    height: 80px;
}
.loading-show {
    opacity: 1;
    height: 100vh
}
.loading-hide {
    opacity: 0;
    height: 0vh
}


/*estilos de popup modal*/
.modal {
    display: block !important;
    background-color: #FFFFFF;
    border: 1px solid $color-neutro;
    color: $color-font-primary;
    scrollbar-width: thin;
}
.modal-header{
    border-bottom:1px solid $color-li-neutro;
}
.modal-footer {
    border-top: 0px;
}
.modal-icon {
    font-size: 36px !important;
    opacity: 0.8;
}
.modal-block {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $color-bg-block;
    position: fixed;
    z-index: 9900;
    display: flex;
}
.modal-dialog-size {
    max-width: 800px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background-color: $color-font-primary;
    outline: 1px solid $color-font-primary;
}

input::placeholder {
    opacity: 0.5 !important;
}

.display-row {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.footer-center {
    justify-content: center;
}

.form-control{
    font-size: 14px;
    color: $color-font-text;
    border: 1px solid $color-neutro;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:active:hover:not([disabled]), .form-control:focus{
    font-size: 14px;
    border-color: $color-primary;
    box-shadow: 0 0px 0px;
    outline: 0 none;
}

.form-control.force-disabled,
.form-control:disabled {
    color: $color-font-primary;
    background-color: $color-disabled;
    box-shadow: 0 0px 0px;
}

div.img-foto {
    position: relative;
}

div.img-foto img {
    max-height: 170px;
    cursor: pointer;
}

div.img-foto div.link i.fa-times {
    position: absolute;
    top: 5px;
    left: 20px;
    display: none;
}

div.img-foto:hover div.link i.fa-times {
    display: block !important;
}

// estilos footer

.footer{
    display: flex;
    align-items: center;
    background-color: $color-neutro;
    color: $color-li-neutro;
    z-index: 1000;
}

.footer-action {
    height: 60px;
    background-color: #FFFFFF !important;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    border-top: 1px solid $color-li-neutro;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
    margin-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.footer-action-container {
    width: 100%;
}

.form-check-input:checked {
    background-color: $color-font-primary;
    border-color: $color-font-primary;
}

.align-left {
    text-align: left!important;
}
.align-center {
    text-align: center!important;
}
.align-right {
    text-align: right!important;
    padding-right: 10px;
}

.no-p-horizontal {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-m-horizontal {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.no-m-left {
    margin-left: 0px !important;
}
.no-m-right {
    margin-right: 0px !important;
}

/*estilos para margin y padding en pixeles*/
.p-left-10 {
    padding-left: 10px !important;
}
.p-left-20 {
    padding-left: 20px !important;
}
.p-left-50 {
    padding-left: 50px !important;
}
.p-right-5 {
    padding-right: 5px !important;
}
.p-right-10 {
    padding-right: 10px !important;
}
.p-right-20 {
    padding-right: 20px !important;
}
.p-bottom-20 {
    padding-bottom: 20px !important;
}
.p-bottom-5 {
    padding-bottom: 5px !important;
}
.p-top-15 {
    padding-top: 15px !important;
}
.p-top-5 {
    padding-top: 5px !important;
}
.p-top-10 {
    padding-top: 10px !important;
}
.p-top-25 {
    padding-top: 25px !important;
}
.p-top-35 {
    padding-top: 35px !important;
}

.m-left-5 {
    margin-left: 5px !important;
}
.m-left-10 {
    margin-left: 10px !important;
}
.m-left-15 {
    margin-left: 15px !important;
}
.m-left-20 {
    margin-left: 20px !important;
}
.m-left-50 {
    margin-left: 50px !important;
}
.m-right-5 {
    margin-right: 5px !important;
}
.m-right-10 {
    margin-right: 10px !important;
}
.m-right-20 {
    margin-right: 20px !important;
}

.m-top-5 {
    margin-top: 5px !important;
}
.m-top-10 {
    margin-top: 10px !important;
}
.m-top-15 {
    margin-top: 15px !important;
}
.m-top-20 {
    margin-top: 20px !important;
}
.m-top-25 {
    margin-top: 25px !important;
}
.m-top-27 {
    margin-top: 27px !important;
}
.m-top-30 {
    margin-top: 30px !important;
}
.m-top-32 {
    margin-top: 32px !important;
}
.m-top-33 {
    margin-top: 33px !important;
}
.m-top-40 {
    margin-top: 40px !important;
}
.m-top-50 {
    margin-top: 50px !important;
}
.m-top-100 {
    margin-top: 100px !important;
}
.m-bottom-10 {
    margin-bottom: 10px !important;
}
.m-bottom-20 {
    margin-bottom: 20px !important;
}
.m-bottom-50 {
    margin-bottom: 50px !important;
}
.m-bottom-75 {
    margin-bottom: 75px !important;
}

/*estilos para width en porcentajes*/
.width-5p {
    width: 5% !important;
}
.width-10p {
    width: 10% !important;
}
.width-15p {
    width: 15% !important;
}
.width-20p {
    width: 20% !important;
}
.width-25p {
    width: 25% !important;
}
.width-30p {
    width: 30% !important;
}
.width-35p {
    width: 35% !important;
}
.width-40p {
    width: 40% !important;
}
.width-45p {
    width: 45% !important;
}
.width-50p {
    width: 50% !important;
}
.width-60p {
    width: 60% !important;
}

.height-30 {
    height: 30px !important;
}
.height-20 {
    height: 20px !important;
}


// estilos notificaciones - Toastify 

.Toastify__toast {
    font-family: 'Montserrat', sans-serif !important;
}

.Toastify__toast--warning {
    background: $color-warning !important;
  }

.Toastify__toast--success {
    background: $color-success !important;
  }

.Toastify__toast--info {
background: $color-action !important;
}

.Toastify__toast--error {
    background: $color-error !important;
    }


